@model T.Website.Endpoint.Models.Hotel.RoomDetails

<section class="room-detail-bread">
    <div class="full-width-slider carousel-action">
        @foreach (var item in Model.ImagesSrc)
        {
            <div class="full-width-slide-item">
                <img src="@item" alt="room-img">
            </div><!-- end full-width-slide-item -->
        }
    </div><!-- end full-width-slider -->
</section><!-- end room-detail-bread -->
<!-- ================================
    END ROOM DETAIL BREAD
================================= -->

<!-- ================================
    START TOUR DETAIL AREA
================================= -->
<section class="tour-detail-area padding-bottom-90px">
    <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
        <div class="container">

        </div>
    </div><!-- end single-content-navbar-wrap -->
    <div class="single-content-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content-wrap padding-top-60px">
                        <div id="description" class="page-scroll">
                            <div class="single-content-item pb-4">
                                <h3 class="title font-size-26">@Model.Name</h3>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div class="single-content-item padding-top-30px padding-bottom-40px">
                                <h3 class="title font-size-20">توضیحات</h3>
                                <p class="py-3">@Html.Raw(Model.Description)</p>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end description -->
                        <div id="services" class="page-scroll">
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">خدمات</h3>
                                <div class="row pt-4">
                                    @foreach (var item in Model.Services)
                                    {
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                    <i class="la la-check-circle"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">@item</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    }

                                </div><!-- end row -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end itinerary -->
                        <div id="amenities" class="page-scroll">
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">امکانات رفاهی</h3>
                                <div class="row pt-4">
                                    @foreach (var item in Model.Amenities)
                                    {
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                    <i class="la la-circle-o"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">@item</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    }
                                </div><!-- end row -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end itinerary -->
                    </div><!-- end single-content-wrap -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <h3 class="title stroke-shape">رزرو شما</h3>
                            <div class="sidebar-widget-item">
                                <div class="sidebar-widget-item">
                                    <div class="sidebar-book-title-wrap mb-3">
                                        @if (Model.PriceWithDiscount != null)
                                        {
                                            <p><span class="text-form">از </span><span
                                                class="text-value ml-2 mr-1">@Model.PriceWithDiscount
                                                    تومان</span>

                                                <span class="before-price">@Model.Price.ToString("n0") تومان</span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p><span class="text-form">از </span><span
                                                class="text-value ml-2 mr-1">@Model.Price.ToString("n0")
                                                    تومان</span>
                                            </p>
                                        }
                                    </div>
                                </div>
                                @await Component.InvokeAsync("AddRoomToBasket", new {id = @Model.Id, discountPerscent =
                                Model.Discounts.LastOrDefault()})
                            </div><!-- end sidebar-widget-item -->
                        </div><!-- end sidebar-widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single-content-box -->
</section><!-- end tour-detail-area -->
<!-- ================================
    END TOUR DETAIL AREA
================================= -->

<div class="section-block"></div>

<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area subscriber-area section-bg-2 padding-top-60px padding-bottom-60px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="cta-content">
                    <div class="section-heading">
                        <h2 class="sec__title font-size-30 text-white">از پیشنهاد های شگفت انگیزمون جا نمونی ! <br>
                            دریافت تخفیف های شگفتانه فقط از طریق ایمیل .</h2>
                    </div><!-- end section-heading -->
                </div>
            </div><!-- end col-lg-7 -->
            <div class="col-lg-5">
                <div class="subscriber-box">
                    <div class="contact-form-action">
                        <form action="#">
                            <div class="input-box">
                                <label class="label-text text-white">آدرس ایمیلت رو وارد کن</label>
                                <div class="form-group mb-0">
                                    <span class="la la-envelope form-icon"></span>
                                    <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل">
                                    <button class="theme-btn theme-btn-small submit-btn" type="submit">عضویت</button>
                                    <span class="font-size-15 pt-1 text-white-50"><i class="la la-lock mr-1"></i>نگران
                                        نباش اطلاعاتت پیش ما امنه.</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->