@model T.Website.Endpoint.Models.Hotel.RoomDetails

<section class="room-detail-bread">
    <div class="full-width-slider carousel-action">
        @foreach (var item in Model.ImagesSrc)
        {
            <div class="full-width-slide-item">
                <img src="@item" alt="room-img">
            </div><!-- end full-width-slide-item -->
        }
    </div><!-- end full-width-slider -->
</section><!-- end room-detail-bread -->
<!-- ================================
    END ROOM DETAIL BREAD
================================= -->

<!-- ================================
    START TOUR DETAIL AREA
================================= -->
<section class="tour-detail-area padding-bottom-90px">
    <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content-nav" id="single-content-nav">
                        <ul>
                            <li><a data-scroll="description" href="#description" class="scroll-link active">توضیحات</a>
                            </li>
                            <li><a data-scroll="services" href="#services" class="scroll-link">خدمات</a></li>
                            <li><a data-scroll="amenities" href="#amenities" class="scroll-link">امکانات رفاهی</a></li>
                            <li><a data-scroll="location-map" href="#location-map" class="scroll-link">نقشه</a></li>
                            <li><a data-scroll="reviews" href="#reviews" class="scroll-link">نظرات</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end single-content-navbar-wrap -->
    <div class="single-content-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content-wrap padding-top-60px">
                        <div id="description" class="page-scroll">
                            <div class="single-content-item pb-4">
                                <h3 class="title font-size-26">اتاق پریمیوم با منظره دریاچه</h3>
                                <p class="pt-2">
                                    <span class="badge badge-warning text-white font-size-16">4.6</span>
                                    <span>(4209 نظر)</span>
                                </p>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div class="single-content-item padding-top-30px padding-bottom-40px">
                                <h3 class="title font-size-20">توضیحات</h3>
                                <p class="py-3">@Html.Raw(Model.Description)</p>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end description -->
                        <div id="services" class="page-scroll">
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">خدمات</h3>
                                <div class="row pt-4">
                                    @foreach (var item in Model.Services)
                                    {
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                    <i class="la la-check-circle"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">@item</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    }

                                </div><!-- end row -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end itinerary -->
                        <div id="amenities" class="page-scroll">
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">امکانات رفاهی</h3>
                                <div class="row pt-4">
                                    @foreach (var item in Model.Amenities)
                                    {
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                    <i class="la la-circle-o"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">@item</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    }
                                </div><!-- end row -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end itinerary -->
                        <div id="reviews" class="page-scroll">
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">نظرات</h3>
                                <div class="review-container padding-top-30px">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4">
                                            <div class="review-summary">
                                                <h2>4.5<span>/5</span></h2>
                                                <p>عالی</p>
                                                <span>بر اساس 4 نظر</span>
                                            </div>
                                        </div><!-- end col-lg-4 -->
                                        <div class="col-lg-8">
                                            <div class="review-bars">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="progress-item">
                                                            <h3 class="progressbar-title">خدمات</h3>
                                                            <div
                                                                class="progressbar-content line-height-20 d-flex align-items-center justify-content-between">
                                                                <div class="progressbar-box flex-shrink-0">
                                                                    <div class="progressbar-line" data-percent="70%">
                                                                        <div class="progressbar-line-item bar-bg-1">
                                                                        </div>
                                                                    </div> <!-- End Skill Bar -->
                                                                </div>
                                                                <div class="bar-percent">4.6</div>
                                                            </div>
                                                        </div><!-- end progress-item -->
                                                    </div><!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="progress-item">
                                                            <h3 class="progressbar-title">مکان </h3>
                                                            <div
                                                                class="progressbar-content line-height-20 d-flex align-items-center justify-content-between">
                                                                <div class="progressbar-box flex-shrink-0">
                                                                    <div class="progressbar-line" data-percent="55%">
                                                                        <div class="progressbar-line-item bar-bg-2">
                                                                        </div>
                                                                    </div> <!-- End Skill Bar -->
                                                                </div>
                                                                <div class="bar-percent">4.7</div>
                                                            </div>
                                                        </div><!-- end progress-item -->
                                                    </div><!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="progress-item">
                                                            <h3 class="progressbar-title">سرویس دوره ای</h3>
                                                            <div
                                                                class="progressbar-content line-height-20 d-flex align-items-center justify-content-between">
                                                                <div class="progressbar-box flex-shrink-0">
                                                                    <div class="progressbar-line" data-percent="40%">
                                                                        <div class="progressbar-line-item bar-bg-3">
                                                                        </div>
                                                                    </div> <!-- End Skill Bar -->
                                                                </div>
                                                                <div class="bar-percent">2.6</div>
                                                            </div>
                                                        </div><!-- end progress-item -->
                                                    </div><!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="progress-item">
                                                            <h3 class="progressbar-title">پاکیزگی</h3>
                                                            <div
                                                                class="progressbar-content line-height-20 d-flex align-items-center justify-content-between">
                                                                <div class="progressbar-box flex-shrink-0">
                                                                    <div class="progressbar-line" data-percent="60%">
                                                                        <div class="progressbar-line-item bar-bg-4">
                                                                        </div>
                                                                    </div> <!-- End Skill Bar -->
                                                                </div>
                                                                <div class="bar-percent">3.6</div>
                                                            </div>
                                                        </div><!-- end progress-item -->
                                                    </div><!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="progress-item">
                                                            <h3 class="progressbar-title">امکانات رفاهی</h3>
                                                            <div
                                                                class="progressbar-content line-height-20 d-flex align-items-center justify-content-between">
                                                                <div class="progressbar-box flex-shrink-0">
                                                                    <div class="progressbar-line" data-percent="50%">
                                                                        <div class="progressbar-line-item bar-bg-5">
                                                                        </div>
                                                                    </div> <!-- End Skill Bar -->
                                                                </div>
                                                                <div class="bar-percent">2.6</div>
                                                            </div>
                                                        </div><!-- end progress-item -->
                                                    </div><!-- end col-lg-6 -->
                                                </div><!-- end row -->
                                            </div>
                                        </div><!-- end col-lg-8 -->
                                    </div>
                                </div>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end reviews -->
                        <div class="review-box">
                            <div class="single-content-item padding-top-40px">
                                <h3 class="title font-size-20">نمایش 3 نظر</h3>
                                <div class="comments-list padding-top-50px">
                                    <div class="comment">
                                        <div class="comment-avatar">
                                            <img class="avatar__img" alt="" src="images/team8.jpg">
                                        </div>
                                        <div class="comment-body">
                                            <div class="meta-data">
                                                <h3 class="comment__author">امیر رضایی</h3>
                                                <div class="meta-data-inner d-flex">
                                                    <span class="ratings d-flex align-items-center mr-1">
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                    </span>
                                                    <p class="comment__date">5 آبان 1400</p>
                                                </div>
                                            </div>
                                            <p class="comment-content">
                                                سال ۹۲ در این هتل برای اولین برای یک شب اقامت داشتم و در امسال ۱۴۰۰ مجدد
                                                برای ۳ شب از نظر پذیرش و کارمندان و نظافت و رسیدگی همگی بسیار عالی کیفیت
                                                غذا هم خوب بود ولی فقط غذای محلیه که شاید باب سلیقه همه نباشه
                                            </p>
                                            <div
                                                class="comment-reply d-flex align-items-center justify-content-between">
                                                <a class="theme-btn" href="#" data-toggle="modal"
                                                    data-target="#replayPopupForm">
                                                    <span class="la la-mail-reply mr-1"></span>پاسخ
                                                </a>
                                                <div class="reviews-reaction">
                                                    <a href="#" class="comment-like"><i class="la la-thumbs-up"></i>
                                                        13</a>
                                                    <a href="#" class="comment-dislike"><i
                                                            class="la la-thumbs-down"></i> 2</a>
                                                    <a href="#" class="comment-love"><i class="la la-heart-o"></i> 5</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end comments -->
                                    <div class="comment comment-reply-item">
                                        <div class="comment-avatar">
                                            <img class="avatar__img" alt="" src="images/team9.jpg">
                                        </div>
                                        <div class="comment-body">
                                            <div class="meta-data">
                                                <h3 class="comment__author">علی کیانی</h3>
                                                <div class="meta-data-inner d-flex">
                                                    <span class="ratings d-flex align-items-center mr-1">
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                    </span>
                                                    <p class="comment__date">5 آبان 1400</p>
                                                </div>
                                            </div>
                                            <p class="comment-content">
                                                سلام. من این هتل را برای کسانی که سخت پسند هستند پیشنهاد میکنم. این هتل
                                                سرویس خوبی ارایه میکنه و موقعیت مکانی خوبی داره. تولد همسرم بود و این
                                                موضوع را به قسمت تشریفات اطلاع دادم و زحمت کشیدند با یک کیک سورپرایز
                                                کردند. صبحانه کامل و خوب بود
                                            </p>
                                            <div
                                                class="comment-reply d-flex align-items-center justify-content-between">
                                                <a class="theme-btn" href="#" data-toggle="modal"
                                                    data-target="#replayPopupForm">
                                                    <span class="la la-mail-reply mr-1"></span>پاسخ
                                                </a>
                                                <div class="reviews-reaction">
                                                    <a href="#" class="comment-like"><i class="la la-thumbs-up"></i>
                                                        13</a>
                                                    <a href="#" class="comment-dislike"><i
                                                            class="la la-thumbs-down"></i> 2</a>
                                                    <a href="#" class="comment-love"><i class="la la-heart-o"></i> 5</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end comments -->
                                    <div class="comment">
                                        <div class="comment-avatar">
                                            <img class="avatar__img" alt="" src="images/team10.jpg">
                                        </div>
                                        <div class="comment-body">
                                            <div class="meta-data">
                                                <h3 class="comment__author">شاهین نفری</h3>
                                                <div class="meta-data-inner d-flex">
                                                    <span class="ratings d-flex align-items-center mr-1">
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                    </span>
                                                    <p class="comment__date">5 آبان 1400</p>
                                                </div>
                                            </div>
                                            <p class="comment-content">
                                                برخورد مدیران و‌ کارکنان هتل عالی بود ، غذا خوب بود نظافتم خوب بود در کل
                                                راضی بودم
                                            </p>
                                            <div
                                                class="comment-reply d-flex align-items-center justify-content-between">
                                                <a class="theme-btn" href="#" data-toggle="modal"
                                                    data-target="#replayPopupForm">
                                                    <span class="la la-mail-reply mr-1"></span>پاسخ
                                                </a>
                                                <div class="reviews-reaction">
                                                    <a href="#" class="comment-like"><i class="la la-thumbs-up"></i>
                                                        13</a>
                                                    <a href="#" class="comment-dislike"><i
                                                            class="la la-thumbs-down"></i> 2</a>
                                                    <a href="#" class="comment-love"><i class="la la-heart-o"></i> 5</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end comments -->
                                    <div class="btn-box load-more text-center">
                                        <button class="theme-btn theme-btn-small theme-btn-transparent"
                                            type="button">نظرات بیشتر</button>
                                    </div>
                                </div><!-- end comments-list -->
                                <div class="comment-forum padding-top-40px">
                                    <div class="form-box">
                                        <div class="form-title-wrap">
                                            <h3 class="title">نظری بنویس</h3>
                                        </div><!-- form-title-wrap -->
                                        <div class="form-content">
                                            <div class="rate-option p-2">
                                                <div class="row">
                                                    <div class="col-lg-4 responsive-column">
                                                        <div class="rate-option-item">
                                                            <label>خدمات</label>
                                                            <div class="rate-stars-option">
                                                                <input type="checkbox" id="lst1" value="1">
                                                                <label for="lst1"></label>
                                                                <input type="checkbox" id="lst2" value="2">
                                                                <label for="lst2"></label>
                                                                <input type="checkbox" id="lst3" value="3">
                                                                <label for="lst3"></label>
                                                                <input type="checkbox" id="lst4" value="4">
                                                                <label for="lst4"></label>
                                                                <input type="checkbox" id="lst5" value="5">
                                                                <label for="lst5"></label>
                                                            </div>
                                                        </div>
                                                    </div><!-- col-lg-4 -->
                                                    <div class="col-lg-4 responsive-column">
                                                        <div class="rate-option-item">
                                                            <label>مکان </label>
                                                            <div class="rate-stars-option">
                                                                <input type="checkbox" id="l1" value="1">
                                                                <label for="l1"></label>
                                                                <input type="checkbox" id="l2" value="2">
                                                                <label for="l2"></label>
                                                                <input type="checkbox" id="l3" value="3">
                                                                <label for="l3"></label>
                                                                <input type="checkbox" id="l4" value="4">
                                                                <label for="l4"></label>
                                                                <input type="checkbox" id="l5" value="5">
                                                                <label for="l5"></label>
                                                            </div>
                                                        </div>
                                                    </div><!-- col-lg-4 -->
                                                    <div class="col-lg-4 responsive-column">
                                                        <div class="rate-option-item">
                                                            <label>سرویس دوره ای</label>
                                                            <div class="rate-stars-option">
                                                                <input type="checkbox" id="vm1" value="1">
                                                                <label for="vm1"></label>
                                                                <input type="checkbox" id="vm2" value="2">
                                                                <label for="vm2"></label>
                                                                <input type="checkbox" id="vm3" value="3">
                                                                <label for="vm3"></label>
                                                                <input type="checkbox" id="vm4" value="4">
                                                                <label for="vm4"></label>
                                                                <input type="checkbox" id="vm5" value="5">
                                                                <label for="vm5"></label>
                                                            </div>
                                                        </div>
                                                    </div><!-- col-lg-4 -->
                                                    <div class="col-lg-4 responsive-column">
                                                        <div class="rate-option-item">
                                                            <label>پاکیزگی</label>
                                                            <div class="rate-stars-option">
                                                                <input type="checkbox" id="cln1" value="1">
                                                                <label for="cln1"></label>
                                                                <input type="checkbox" id="cln2" value="2">
                                                                <label for="cln2"></label>
                                                                <input type="checkbox" id="cln3" value="3">
                                                                <label for="cln3"></label>
                                                                <input type="checkbox" id="cln4" value="4">
                                                                <label for="cln4"></label>
                                                                <input type="checkbox" id="cln5" value="5">
                                                                <label for="cln5"></label>
                                                            </div>
                                                        </div>
                                                    </div><!-- col-lg-4 -->
                                                    <div class="col-lg-4 responsive-column">
                                                        <div class="rate-option-item">
                                                            <label>امکانات رفاهی</label>
                                                            <div class="rate-stars-option">
                                                                <input type="checkbox" id="f1" value="1">
                                                                <label for="f1"></label>
                                                                <input type="checkbox" id="f2" value="2">
                                                                <label for="f2"></label>
                                                                <input type="checkbox" id="f3" value="3">
                                                                <label for="f3"></label>
                                                                <input type="checkbox" id="f4" value="4">
                                                                <label for="f4"></label>
                                                                <input type="checkbox" id="f5" value="5">
                                                                <label for="f5"></label>
                                                            </div>
                                                        </div>
                                                    </div><!-- col-lg-4 -->
                                                </div><!-- end row -->
                                            </div><!-- end rate-option -->
                                            <div class="contact-form-action">
                                                <form method="post">
                                                    <div class="row">
                                                        <div class="col-lg-6 responsive-column">
                                                            <div class="input-box">
                                                                <label class="label-text">نام</label>
                                                                <div class="form-group">
                                                                    <span class="la la-user form-icon"></span>
                                                                    <input class="form-control" type="text" name="text"
                                                                        placeholder="نام شما">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 responsive-column">
                                                            <div class="input-box">
                                                                <label class="label-text">ایمیل</label>
                                                                <div class="form-group">
                                                                    <span class="la la-envelope-o form-icon"></span>
                                                                    <input class="form-control" type="email"
                                                                        name="email" placeholder="آدرس ایمیل">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="input-box">
                                                                <label class="label-text">پیام</label>
                                                                <div class="form-group">
                                                                    <span class="la la-pencil form-icon"></span>
                                                                    <textarea class="message-control form-control"
                                                                        name="message"
                                                                        placeholder="پیامی بنویس"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="btn-box">
                                                                <button type="button" class="theme-btn">ارسال
                                                                    نظر</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div><!-- end contact-form-action -->
                                        </div><!-- end form-content -->
                                    </div><!-- end form-box -->
                                </div><!-- end comment-forum -->
                            </div><!-- end single-content-item -->
                        </div><!-- end review-box -->
                    </div><!-- end single-content-wrap -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <h3 class="title stroke-shape">رزرو شما</h3>
                            <div class="sidebar-widget-item">
                                <div class="sidebar-widget-item">
                                    <div class="sidebar-book-title-wrap mb-3">
                                        @if (Model.PriceWithDiscount != null)
                                        {
                                            <p><span class="text-form">از </span><span
                                                class="text-value ml-2 mr-1">@Model.PriceWithDiscount
                                                    تومان</span>

                                                <span class="before-price">@Model.Price.ToString("n0") تومان</span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p><span class="text-form">از </span><span
                                                class="text-value ml-2 mr-1">@Model.Price.ToString("n0")
                                                    تومان</span>
                                            </p>
                                        }
                                    </div>
                                </div>
                                @await Component.InvokeAsync("AddRoomToBasket", new {id = @Model.Id})
                            </div><!-- end sidebar-widget-item -->
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget single-content-widget">
                            <h3 class="title stroke-shape">وجه تمایز ما چیست ؟</h3>
                            <div class="sidebar-list">
                                <ul class="list-items">
                                    <li><i class="la la-dollar icon-element mr-2"></i> تضمین بهترین قیمت بدون مشکل</li>
                                    <li><i class="la la-microphone icon-element mr-2"></i>پشتیبانی 24 ساعته در همه ایام
                                        سال </li>
                                    <li><i class="la la-thumbs-up icon-element mr-2"></i> رضایت مشتریان فراوان از خدمات
                                        ما</li>
                                    <li><i class="la la-file-text icon-element mr-2"></i>بیمه مسافرتی رایگان</li>
                                </ul>
                            </div><!-- end sidebar-list -->
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget single-content-widget">
                            <h3 class="title stroke-shape"> سوالی داری؟</h3>
                            <p class="font-size-14 line-height-24">با ما تماس بگیر . ما یک تیم متخصص هستیم و دوست داریم
                                با شما صحبت کنیم.</p>
                            <div class="sidebar-list pt-3">
                                <ul class="list-items">
                                    <li><i class="la la-phone icon-element mr-2"></i><a href="#" dir="ltr">+ 98 21 8793
                                            3400</a></li>
                                    <li><i class="la la-envelope icon-element mr-2"></i><a
                                            href="mailto:info@trizen.com">info@trizen.com</a></li>
                                </ul>
                            </div><!-- end sidebar-list -->
                        </div><!-- end sidebar-widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single-content-box -->
</section><!-- end tour-detail-area -->
<!-- ================================
    END TOUR DETAIL AREA
================================= -->

<div class="section-block"></div>

<!-- ================================
    START RELATE TOUR AREA
================================= -->
<section class="related-tour-area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title">سایر اتاق ها</h2>
                    <p class="sec__desc"> مسافران دیگه ما ، این اتاق ها رو هم دوست داشتن ، شاید شما هم بپسندی </p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row padding-top-50px">
            <div class="col-lg-6">
                <div class="card-item room-card">
                    <div class="card-img-carousel carousel-action carousel--action">
                        <div class="card-img">
                            <a href="room-details.html" class="d-block">
                                <img src="images/img5.jpg" alt="hotel-img">
                            </a>
                        </div>
                        <div class="card-img">
                            <a href="room-details.html" class="d-block">
                                <img src="images/img29.jpg" alt="hotel-img">
                            </a>
                        </div>
                        <div class="card-img">
                            <a href="room-details.html" class="d-block">
                                <img src="images/img30.jpg" alt="hotel-img">
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-price pb-2">
                            <p>
                                <span class="price__from">از </span>
                                <span class="price__num">880,000 تومان </span>
                            </p>
                        </div>
                        <h3 class="card-title font-size-26"><a href="room-details.html">اتاق پریمیوم با منظره دریاچه</a>
                        </h3>
                        <p class="card-text pt-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                            از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        </p>
                        <div class="card-attributes pt-3 pb-4">
                            <ul class="d-flex align-items-center">
                                <li class="d-flex align-items-center"><i class="la la-bed"></i><span>2 تخت</span></li>
                                <li class="d-flex align-items-center"><i class="la la-building"></i><span>24
                                        متر<sup>2</sup></span></li>
                                <li class="d-flex align-items-center"><i class="la la-bathtub"></i><span>2 حمام</span>
                                </li>
                            </ul>
                        </div>
                        <div class="card-btn">
                            <a href="room-details.html" class="theme-btn theme-btn-transparent">رزرو</a>
                        </div>
                    </div>
                </div><!-- end card-item -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="card-item room-card">
                    <div class="card-img-carousel carousel-action carousel--action">
                        <div class="card-img">
                            <a href="room-details.html" class="d-block">
                                <img src="images/img31.jpg" alt="hotel-img">
                            </a>
                        </div>
                        <div class="card-img">
                            <a href="room-details.html" class="d-block">
                                <img src="images/img32.jpg" alt="hotel-img">
                            </a>
                        </div>
                        <div class="card-img">
                            <a href="room-details.html" class="d-block">
                                <img src="images/img33.jpg" alt="hotel-img">
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-price pb-2">
                            <p>
                                <span class="price__from">از </span>
                                <span class="price__num">45,000 تومان</span>
                            </p>
                        </div>
                        <h3 class="card-title font-size-26"><a href="room-details.html">اتاق دو تخته استاندارد</a></h3>
                        <p class="card-text pt-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                            از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        </p>
                        <div class="card-attributes pt-3 pb-4">
                            <ul class="d-flex align-items-center">
                                <li class="d-flex align-items-center"><i class="la la-bed"></i><span>2 تخت</span></li>
                                <li class="d-flex align-items-center"><i class="la la-building"></i><span>24
                                        متر<sup>2</sup></span></li>
                                <li class="d-flex align-items-center"><i class="la la-bathtub"></i><span>2 حمام</span>
                                </li>
                            </ul>
                        </div>
                        <div class="card-btn">
                            <a href="room-details.html" class="theme-btn theme-btn-transparent">رزرو</a>
                        </div>
                    </div>
                </div><!-- end card-item -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end related-tour-area -->
<!-- ================================
    END RELATE TOUR AREA
================================= -->

<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area subscriber-area section-bg-2 padding-top-60px padding-bottom-60px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="cta-content">
                    <div class="section-heading">
                        <h2 class="sec__title font-size-30 text-white">از پیشنهاد های شگفت انگیزمون جا نمونی ! <br>
                            دریافت تخفیف های شگفتانه فقط از طریق ایمیل .</h2>
                    </div><!-- end section-heading -->
                </div>
            </div><!-- end col-lg-7 -->
            <div class="col-lg-5">
                <div class="subscriber-box">
                    <div class="contact-form-action">
                        <form action="#">
                            <div class="input-box">
                                <label class="label-text text-white">آدرس ایمیلت رو وارد کن</label>
                                <div class="form-group mb-0">
                                    <span class="la la-envelope form-icon"></span>
                                    <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل">
                                    <button class="theme-btn theme-btn-small submit-btn" type="submit">عضویت</button>
                                    <span class="font-size-15 pt-1 text-white-50"><i class="la la-lock mr-1"></i>نگران
                                        نباش اطلاعاتت پیش ما امنه.</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->