@model T.Website.Endpoint.Models.Flights.FlightDetailViewModel
@using T.Common;
<!-- ================================
    START BREADCRUMB TOP BAR
================================= -->
<section class="breadcrumb-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-list breadcrumb-top-list">
                    <ul class="list-items bg-transparent radius-none p-0">
                        <li><a href="index.html">صفحه اصلی</a></li>
                        <li>فرانسه</li>
                        <li>نيويورک به پاریس</li>
                    </ul>
                </div><!-- end breadcrumb-list -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end breadcrumb-top-bar -->
<!-- ================================
    END BREADCRUMB TOP BAR
================================= -->

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-6 py-0">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-btn">
                        <div class="btn-box">
                            <a class="theme-btn" data-src="@Model.FirstImage" data-fancybox="gallery"
                                data-caption="تصویر شماره - 01" data-speed="700">
                                <i class="la la-photo mr-2"></i>عکس های بیشتر
                            </a>
                        </div>
                        @{
                            var c = 2;
                        }
                        @foreach (var item in Model.Images)
                        {
                            <a class="d-none" data-fancybox="gallery" data-src="@item" data-caption="تصویر شماره - @c"
                            data-speed="700"></a>
                            { c++; }
                        }
                    </div><!-- end breadcrumb-btn -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START TOUR DETAIL AREA
================================= -->

<section class="tour-detail-area padding-bottom-90px">
    <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content-nav" id="single-content-nav">
                        <ul>
                            <li><a data-scroll="description" href="#description" class="scroll-link active">جزئیات
                                    پرواز</a></li>
                            <li><a data-scroll="inflight-features" href="#inflight-features" class="scroll-link">ویژگی
                                    های پرواز</a></li>
                            <li><a data-scroll="seat-selection" href="#seat-selection" class="scroll-link">انتخاب
                                    صندلی</a></li>
                            <li><a data-scroll="baggage" href="#baggage" class="scroll-link">چمدان</a></li>
                            <li><a data-scroll="fare-rules" href="#fare-rules" class="scroll-link">قوانين </a></li>
                            <li><a data-scroll="reviews" href="#reviews" class="scroll-link">نظرات</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end single-content-navbar-wrap -->
    <div class="single-content-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content-wrap padding-top-60px">
                        <div id="description" class="page-scroll">
                            <div class="single-content-item pb-4">
                                <h3 class="title font-size-26">@Model.Origin به @Model.Destination</h3>
                                <div class="d-flex align-items-center pt-2">
                                    <p class="mr-2">@Model.FlightType</p>
                                </div>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div class="single-content-item py-4">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="single-feature-titles text-center mb-3">
                                            <h3 class="title font-size-15 font-weight-medium">تاریخ پرواز</h3>
                                            <span class="font-size-13">@Model.TakeOff.ToFarsi() ساعت
                                                @Model.TakeOffTime</span>
                                        </div>
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 col-sm-4">
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="single-feature-titles text-center mb-3">
                                            <h3 class="title font-size-15 font-weight-medium">تاریخ فرود</h3>
                                            <span class="font-size-13">@Model.Landing.ToFarsi()</span>
                                        </div>
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-12">
                                        <div
                                            class="single-feature-titles text-center border-top border-bottom py-3 mb-4">
                                            <h3 class="title font-size-15 font-weight-medium">کل زمان پرواز:<span
                                                    class="font-size-13 d-inline-block ml-1 text-gray">@Model.TotalTimeOfFlight</span>
                                            </h3>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-plane"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    @Model.AirlineCompanyName</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-user"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">نوع پرواز</h3>
                                                <span class="font-size-13">@Model.FlightType</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-refresh"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">قابل استرداد</h3>
                                                <span class="font-size-13">@Model.Refundable</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-times"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">لغو</h3>
                                                <span class="font-size-13">@Model.CancellationCharge تومان برای هر
                                                    نفر</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-exchange"></i>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-shopping-cart"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">صندلی و چمدان</h3>
                                                <span class="font-size-13">هزینه اضافی</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-gear"></i>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-building"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">قیمت پایه</h3>
                                                <span class="font-size-13">@Model.BasePrice.ToString("n0") تومان</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-money"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">مالیات و هزینه ها</h3>
                                                <span class="font-size-13">@Model.ExtraFee تومان</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                </div><!-- end row -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">درباره شرکت هواپیمایی @Model.AirlineCompanyName</h3>
                                <p class="py-3">@Model.AirlineCompanyDescription</p>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end description -->
                        <div id="inflight-features" class="page-scroll">
                            <div class="single-content-item padding-top-40px padding-bottom-30px">
                                <h3 class="title font-size-20">ویژگی های پرواز</h3>
                                <div class="inflight-content-item pt-4">
                                    <div class="row">
                                        @foreach (var item in Model.Amenities)
                                        {
                                            <div class="col-lg-4 responsive-column">
                                                <div class="single-tour-feature d-flex align-items-center mb-3">
                                                    <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                        <i class="la la-check"></i>
                                                    </div>
                                                    <div class="single-feature-titles">
                                                        <h3 class="title font-size-15 font-weight-medium">@item</h3>
                                                    </div>
                                                </div><!-- end single-tour-feature -->
                                        </div><!-- end col-lg-4 -->
                                        }
                                    </div><!-- end row -->
                                </div><!-- end inflight-content-item -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end inflight-features -->

                        <div class="review-box">
                            <div class="single-content-item padding-top-40px">
                                <h3 class="title font-size-20">نمایش @Model.Comments.Count() نظر</h3>
                                <div class="comments-list padding-top-50px">
                                    @foreach (var item in Model.Comments)
                                    {
                                        <div class="comment">
                                            <div class="comment-avatar">
                                                <img class="avatar__img" alt="" src="/Images/images.png">
                                            </div>
                                            <div class="comment-body">
                                                <div class="meta-data">
                                                    <h3 class="comment__author">@item.Name</h3>
                                                    <div class="meta-data-inner d-flex">
                                                        <span class="ratings d-flex align-items-center mr-1">
                                                            @for (int x = 0; x < item.Rate; x++)
                                                            {
                                                                <i class="la la-star"></i>
                                                            }

                                                            @for (int i = 0; i < 5 - item.Rate; i++)
                                                            {
                                                                <i class="la la-star-o"></i>
                                                            }
                                                        </span>
                                                        <p class="comment__date">@item.Date</p>
                                                    </div>
                                                </div>
                                                <p class="comment-content">@item.Message</p>
                                            </div>
                                        </div><!-- end comments -->
                                    }
                                </div><!-- end comments-list -->
                                <div class="comment-forum padding-top-40px">
                                    <div class="form-box">
                                        <div class="form-title-wrap">
                                            <h3 class="title">نظری بنویس</h3>
                                        </div><!-- form-title-wrap -->
                                        <div class="form-content">
                                            <div class="contact-form-action">
                                                <form method="post" asp-action="AddComment" asp-controller="Home"
                                                    data-ajax="true" data-ajax-success="AddCommentResult">
                                                    <div class="row">
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="rate-option-item">
                                                                <label>خدمات</label>
                                                                <div class="rate-stars-option">
                                                                    <input type="checkbox" id="lst1" value="1"
                                                                        name="serviceRate">
                                                                    <label for="lst1"></label>
                                                                    <input type="checkbox" id="lst2" value="2"
                                                                        name="serviceRate">
                                                                    <label for="lst2"></label>
                                                                    <input type="checkbox" id="lst3" value="3"
                                                                        name="serviceRate">
                                                                    <label for="lst3"></label>
                                                                    <input type="checkbox" id="lst4" value="4"
                                                                        name="serviceRate">
                                                                    <label for="lst4"></label>
                                                                    <input type="checkbox" id="lst5" value="5"
                                                                        name="serviceRate">
                                                                    <label for="lst5"></label>
                                                                </div>
                                                            </div>
                                                        </div><!-- col-lg-4 -->
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="rate-option-item">
                                                                <label>مکان </label>
                                                                <div class="rate-stars-option">
                                                                    <input type="checkbox" id="l1" value="1"
                                                                        name="locationRate">
                                                                    <label for="l1"></label>
                                                                    <input type="checkbox" id="l2" value="2"
                                                                        name="locationRate">
                                                                    <label for="l2"></label>
                                                                    <input type="checkbox" id="l3" value="3"
                                                                        name="locationRate">
                                                                    <label for="l3"></label>
                                                                    <input type="checkbox" id="l4" value="4"
                                                                        name="locationRate">
                                                                    <label for="l4"></label>
                                                                    <input type="checkbox" id="l5" value="5"
                                                                        name="locationRate">
                                                                    <label for="l5"></label>
                                                                </div>
                                                            </div>
                                                        </div><!-- col-lg-4 -->
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="rate-option-item">
                                                                <label>ارزش بر اساس هزینه</label>
                                                                <div class="rate-stars-option">
                                                                    <input type="checkbox" id="vm1" value="1"
                                                                        name="valueForMoneyServiceRate">
                                                                    <label for="vm1"></label>
                                                                    <input type="checkbox" id="vm2" value="2"
                                                                        name="valueForMoneyServiceRate">
                                                                    <label for="vm2"></label>
                                                                    <input type="checkbox" id="vm3" value="3"
                                                                        name="valueForMoneyServiceRate">
                                                                    <label for="vm3"></label>
                                                                    <input type="checkbox" id="vm4" value="4"
                                                                        name="valueForMoneyServiceRate">
                                                                    <label for="vm4"></label>
                                                                    <input type="checkbox" id="vm5" value="5"
                                                                        name="valueForMoneyServiceRate">
                                                                    <label for="vm5"></label>
                                                                </div>
                                                            </div>
                                                        </div><!-- col-lg-4 -->
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="rate-option-item">
                                                                <label>پاکیزگی</label>
                                                                <div class="rate-stars-option">
                                                                    <input type="checkbox" id="cln1" value="1"
                                                                        name="cleanlinessRate">
                                                                    <label for="cln1"></label>
                                                                    <input type="checkbox" id="cln2" value="2"
                                                                        name="cleanlinessRate">
                                                                    <label for="cln2"></label>
                                                                    <input type="checkbox" id="cln3" value="3"
                                                                        name="cleanlinessRate">
                                                                    <label for="cln3"></label>
                                                                    <input type="checkbox" id="cln4" value="4"
                                                                        name="cleanlinessRate">
                                                                    <label for="cln4"></label>
                                                                    <input type="checkbox" id="cln5" value="5"
                                                                        name="cleanlinessRate">
                                                                    <label for="cln5"></label>
                                                                </div>
                                                            </div>
                                                        </div><!-- col-lg-4 -->
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="rate-option-item">
                                                                <label>امکانات رفاهی</label>
                                                                <div class="rate-stars-option">
                                                                    <input type="checkbox" id="f1" value="1"
                                                                        name="amenityRate">
                                                                    <label for="f1"></label>
                                                                    <input type="checkbox" id="f2" value="2"
                                                                        name="amenityRate">
                                                                    <label for="f2"></label>
                                                                    <input type="checkbox" id="f3" value="3"
                                                                        name="amenityRate">
                                                                    <label for="f3"></label>
                                                                    <input type="checkbox" id="f4" value="4"
                                                                        name="amenityRate">
                                                                    <label for="f4"></label>
                                                                    <input type="checkbox" id="f5" value="5"
                                                                        name="amenityRate">
                                                                    <label for="f5"></label>
                                                                </div>
                                                            </div>
                                                        </div><!-- col-lg-4 -->
                                                        <div class="col-lg-6 responsive-column">
                                                            <input type="hidden" value="@Model.Id" name="flightId">
                                                            <div class="input-box">
                                                                <label name="name" class="label-text">نام</label>
                                                                <div class="form-group">
                                                                    <span class="la la-user form-icon"></span>
                                                                    <input class="form-control" name="name"
                                                                        placeholder="نام شما">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 responsive-column">
                                                            <div class="input-box">
                                                                <label class="label-text">ایمیل</label>
                                                                <div class="form-group">
                                                                    <span class="la la-envelope-o form-icon"></span>
                                                                    <input class="form-control" name="Email"
                                                                        placeholder="آدرس ایمیل">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="input-box">
                                                                <label class="label-text">پیام</label>
                                                                <div class="form-group">
                                                                    <span class="la la-pencil form-icon"></span>
                                                                    <textarea class="message-control form-control"
                                                                        name="message"
                                                                        placeholder="پیامی بنویس"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="btn-box">
                                                                <button type="submit" class="theme-btn">ارسال
                                                                    نظر</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div><!-- end contact-form-action -->
                                        </div><!-- end form-content -->
                                    </div><!-- end form-box -->
                                </div><!-- end comment-forum -->
                            </div><!-- end single-content-item -->
                        </div><!-- end review-box -->
                    </div><!-- end single-content-wrap -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <div class="sidebar-widget-item">
                                <div class="sidebar-book-title-wrap mb-3">
                                    @if (Model.PriceWithDiscount != null)
                                    {
                                        <p><span class="text-form">از </span><span
                                            class="text-value ml-2 mr-1">@Model.PriceWithDiscount
                                                تومان</span>

                                            <span class="before-price">@Model.BasePrice.ToString("n0") تومان</span>
                                        </p>
                                    }
                                    else
                                    {
                                        <p><span class="text-form">از </span><span
                                            class="text-value ml-2 mr-1">@Model.BasePrice.ToString("n0")
                                                تومان</span>
                                        </p>
                                    }
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="contact-form-action">
                                    @await Component.InvokeAsync("ReservePlaneTicketForm", new {
                                    Id = Model.Id
                                    })
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                @if (TempData["Message"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["Message"]
                                    </div>
                                }
                            </div><!-- end sidebar-widget-item -->
                        </div><!-- end sidebar-widget -->

                        <div class="sidebar-widget single-content-widget">
                            <h3 class="title stroke-shape">وجه تمایز ما چیست ؟</h3>
                            <div class="sidebar-list">
                                <ul class="list-items">
                                    <li><i class="la la-dollar icon-element mr-2"></i> تضمین بهترین قیمت بدون مشکل</li>
                                    <li><i class="la la-microphone icon-element mr-2"></i>پشتیبانی 24 ساعته در همه ایام
                                        سال </li>
                                    <li><i class="la la-thumbs-up icon-element mr-2"></i> رضایت مشتریان فراوان از خدمات
                                        ما</li>
                                    <li><i class="la la-file-text icon-element mr-2"></i>بیمه مسافرتی رایگان</li>
                                </ul>
                            </div><!-- end sidebar-list -->
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget single-content-widget">
                            <h3 class="title stroke-shape"> سوالی داری؟</h3>
                            <p class="font-size-14 line-height-24">با ما تماس بگیر . ما یک تیم متخصص هستیم و دوست داریم
                                با شما صحبت کنیم.</p>
                            <div class="sidebar-list pt-3">
                                <ul class="list-items">
                                    <li><i class="la la-phone icon-element mr-2"></i><a href="#" dir="ltr">+ 98 21 809
                                            3400</a></li>
                                    <li><i class="la la-envelope icon-element mr-2"></i><a
                                            href="mailto:info@trizen.com">info@trizen.com</a></li>
                                </ul>
                            </div><!-- end sidebar-list -->
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget single-content-widget">
                            <h3 class="title stroke-shape">مدیریت توسط</h3>
                            <div class="author-content d-flex">
                                <div class="author-img">
                                    <a href="#"><img src="images/team8.jpg" alt="testimonial image"></a>
                                </div>
                                <div class="author-bio">
                                    <h4 class="author__title"><a href="#">آژانس مسافرتی رویال</a></h4>
                                    <span class="author__meta">عضو از سال 1395</span>
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="ml-2">305 نظر</span>
                                    </span>
                                    <div class="btn-box pt-3">
                                        <a href="#" class="theme-btn theme-btn-small theme-btn-transparent">سوالی بپرس
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end sidebar-widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single-content-box -->
</section><!-- end tour-detail-area -->
<!-- ================================
    END TOUR DETAIL AREA
================================= -->

<div class="section-block"></div>

<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area subscriber-area section-bg-2 padding-top-60px padding-bottom-60px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="cta-content">
                    <div class="section-heading">
                        <h2 class="sec__title font-size-30 text-white">از پیشنهاد های شگفت انگیزمون جا نمونی !<br>
                            دریافت تخفیف های شگفتانه فقط از طریق ایمیل .
                        </h2>
                    </div><!-- end section-heading -->
                </div>
            </div><!-- end col-lg-7 -->
            <div class="col-lg-5">
                <div class="subscriber-box">
                    <div class="contact-form-action">
                        <form action="#">
                            <div class="input-box">
                                <label class="label-text text-white">آدرس ایمیلت رو وارد کن</label>
                                <div class="form-group mb-0">
                                    <span class="la la-envelope form-icon"></span>
                                    <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل">
                                    <button class="theme-btn theme-btn-small submit-btn" type="submit">عضویت</button>
                                    <span class="font-size-15 pt-1 text-white-50"><i class="la la-lock mr-1"></i>نگران
                                        نباش اطلاعاتت پیش ما امنه. </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
    END CTA AREA
================================= -->

@section Scripts
{
<script src="~/js/custom-alert.js"></script>
<script src="~/js/toastr.min.js"></script>

}

@section Css
{
<link rel="stylesheet" href="~/css/toastr.min.css">

}