@model T.Application.Dtos.Rooms.RoomEditDto

<div class="dashboard-bread dashboard--bread dashboard-bread-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="breadcrumb-content">
                    <div class="section-heading">
                        <h2 class="sec__title font-size-30 text-white"> ویرایش اتاق</h2>
                    </div>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="breadcrumb-list text-right">
                    <ul class="list-items">
                        <li><a asp-controller="Home" asp-action="Index" class="text-white">صفحه اصلی</a></li>
                        <li><a asp-controller="RoomManagement" asp-action="Index" asp-route-hotelId="@ViewBag.hotelId"
                                class="text-white">لیست
                                اتاق ها</a></li>
                        <li>ویرایش اتاق جدید</li>
                    </ul>
                </div><!-- end breadcrumb-list -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div>
</div><!-- end dashboard-bread -->

<div class="dashboard-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data" asp-action="Edit" asp-controller="RoomManagement"
                    data-ajax="true" data-ajax-success="OperationResult">
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <h3 class="title"><i class="la la-bed mr-2 text-gray"></i>اطلاعات اتاق</h3>
                        </div><!-- form-title-wrap -->
                        <div class="form-content contact-form-action row">
                            <div class="col-lg-6 responsive-column">
                                <div class="input-box">
                                    <label asp-for="Name" class="label-text">نام اتاق</label>
                                    <div class="form-group">
                                        <span class="la la-home form-icon"></span>
                                        <input class="form-control" asp-for="Name" placeholder="نام اتاق">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                        <input asp-for="HotelId" type="hidden" value="@ViewBag.hotelId" />
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6 responsive-column">
                                <div class="input-box">
                                    <label asp-for="BedCount" class="label-text">تعداد تخت</label>
                                    <div class="form-group">
                                        <span class="la la-bed form-icon"></span>
                                        <input class="form-control" asp-for="BedCount">
                                        <span asp-validation-for="BedCount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6 responsive-column">
                                <div class="input-box">
                                    <label asp-for="Size" class="label-text">اندازه</label>
                                    <div class="form-group">
                                        <span class="la la-home form-icon"></span>
                                        <input class="form-control" asp-for="Size">
                                        <span asp-validation-for="Size" class="text-danger"></span>
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6 responsive-column">
                                <div class="input-box">
                                    <label asp-for="Price" class="label-text">قیمت</label>
                                    <div class="form-group">
                                        <span class="la la-dollar form-icon"></span>
                                        <input class="form-control" asp-for="Price">
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-12">
                                <div class="input-box">
                                    <label asp-for="Description" class="label-text mb-0 line-height-20">توضیحات</label>
                                    <div class="form-group">
                                        <span class="la la-pencil form-icon"></span>
                                        <textarea data-val="false" data-val-required="false" asp-for="Description"
                                            class="message-control form-control"
                                            placeholder="فقط به زبان فارسی، بدون HTML، بدون آدرس وب یا ایمیل"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div><!-- end col-lg-12 -->
                        </div><!-- end form-content -->
                    </div><!-- end form-box -->
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <h3 class="title"><i class="la la-gear mr-2 text-gray"></i>امکانات رفاهی</h3>
                        </div><!-- form-title-wrap -->
                        <div class="form-content contact-form-action">
                            <div class="row">
                                <div class="col-lg-6">
                                    @{
                                        var Count = Model.Information.Amenities.Count();
                                        var index = Count / 2;
                                    }
                                    @foreach (var item in Model.Information.Amenities.Take(index))
                                    {
                                        @if (Model.AmenitiesValue.Where(x => x.Key == item.Id && x.Value == "on").Any())
                                        {
                                            <div class="custom-checkbox">
                                                <input type="checkbox" id="@item.Display" name="AmenitiesValue[@item.Id]"
                                            checked>
                                                <label for="@item.Display">@item.Title</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="custom-checkbox">
                                                <input type="checkbox" id="@item.Display" name="AmenitiesValue[@item.Id]">
                                                <label for="@item.Display">@item.Title</label>
                                            </div>
                                        }
                                    }
                                </div><!-- end col-lg-6 -->
                                <div class="col-lg-6">
                                    @foreach (var item in Model.Information.Amenities.Skip(index))
                                    {
                                        @if (Model.AmenitiesValue.Where(x => x.Key == item.Id && x.Value == "on").Any())
                                        {
                                            <div class="custom-checkbox">
                                                <input type="checkbox" id="@item.Display" name="AmenitiesValue[@item.Id]"
                                            checked>
                                                <label for="@item.Display">@item.Title</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="custom-checkbox">
                                                <input type="checkbox" id="@item.Display" name="AmenitiesValue[@item.Id]">
                                                <label for="@item.Display">@item.Title</label>
                                            </div>
                                        }
                                    }
                                </div><!-- end col-lg-6 -->
                            </div>
                        </div><!-- end form-content -->
                    </div><!-- end form-box -->
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <h3 class="title"><i class="la la-gear mr-2 text-gray"></i>خدمات</h3>
                        </div><!-- form-title-wrap -->
                        <div class="form-content contact-form-action">
                            <div class="row">
                                <div class="col-lg-6">
                                    @{
                                        var countService = Model.Information.ServiceAmenities.Count();
                                        var indexService = countService / 2;
                                    }
                                    @foreach (var item in Model.Information.ServiceAmenities.Take(indexService))
                                    {
                                        @if (Model.ServiceAmenitiesValue.Where(x => x.Key == item.Id && x.Value == "on").Any())
                                        {
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="@item.Display"
                                            name="ServiceAmenitiesValue[@item.Id]" checked>
                                            <label for="@item.Display">@item.Title</label>
                                        </div>
                                        }else
                                        {
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="@item.Display"
                                            name="ServiceAmenitiesValue[@item.Id]">
                                            <label for="@item.Display">@item.Title</label>
                                        </div>

                                        }
                                    }
                                </div><!-- end col-lg-6 -->
                                <div class="col-lg-6">
                                    @foreach (var item in Model.Information.ServiceAmenities.Skip(indexService))
                                    {
                                        @if (Model.ServiceAmenitiesValue.Where(x => x.Key == item.Id && x.Value == "on").Any())
                                        {
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="@item.Display"
                                            name="ServiceAmenitiesValue[@item.Id]" checked>
                                            <label for="@item.Display">@item.Title</label>
                                        </div>
                                        }else
                                        {
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="@item.Display"
                                            name="ServiceAmenitiesValue[@item.Id]">
                                            <label for="@item.Display">@item.Title</label>
                                        </div>

                                        }
                                    }
                                </div><!-- end col-lg-6 -->
                            </div>
                        </div><!-- end form-content -->
                    </div><!-- end form-box -->
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <h3 class="title"><i class="la la-photo mr-2 text-gray"></i>عکسی رو برای نمایش در این لیست
                                انتخاب کن</h3>
                        </div><!-- form-title-wrap -->
                        <div class="form-content contact-form-action">
                            <div class="col-lg-12">
                                <div class="file-upload-wrap">
                                    <input asp-for="Images" data-val="false" data-val-required="false" class="multi file-upload-input with-preview">
                                    <span class="file-upload-text"><i class="la la-upload mr-2"></i>برای بارگذاری روی
                                        تصاویر کلیک کن یا بکش</span>
                                </div>
                            </div><!-- end col-lg-12 -->
                        </div><!-- end form-content -->                        
                    </div><!-- end form-box -->
                     <div class="form-title-wrap">
                            <h3 class="title"><i class="la la-photo mr-2 text-gray"></i>عکس های انتخاب شده (لطفاً از انتخاب عکس تکراری خود داری کنید)</h3>
                        </div><!-- form-title-wrap -->
                        @if (Model.ImagesModel != null)
                        {
                            <div class="form-content contact-form-action">
                            
                                <div class="col-lg-12">
                                
                                    <div class="MultiFile-list">
                                        @foreach (var item in Model.ImagesModel)
                                        {
                                            <span class="MultiFile-label">
                                                <span class="MultiFile-title"></span>
                                                <img class="MultiFile-preview" src="@item.Src" style="max-height:100px; max-width:100px;"/>
                                                <button class="btn btn-danger" onclick="RemoveImage(@item.Id)">حذف</button>
                                            </span>
                                        }
                                    </div>
                                
                                </div><!-- end col-lg-12 -->
                            </div><!-- end form-content -->
                        }
                    <div class="submit-box">
                        <h3 class="title pb-3">ارسال این لیست</h3>
                        <div class="custom-checkbox">
                            <input type="checkbox" id="agreeChb">
                            <label for="agreeChb">
                                این کادر را علامت بزنید تا تأیید کنید که شما نماینده رسمی ملکی هستید که
                                این لیست را برای آن ارسال می کنید و اطلاعاتی که ارائه کرده اید صحیح است. وقتی تصویری را
                                ارسال می‌کنید، همچنین تصدیق می‌کنید که حق استفاده از تصویر را در وب دارید و موافقت
                                می‌کنید
                                که به Trizen با توجه به هیچ‌یک و همه مسائل مربوط به حق نسخه‌برداری ناشی از استفاده شما
                                از
                                تصویر آسیب نرسانید.
                            </label>
                        </div>
                        <div class="btn-box pt-3">
                            <input type="submit" class="theme-btn" value="ارسال">
                        </div>
                    </div>

                </form><!-- end submit-box -->
            </div><!-- end col-lg-9 -->
        </div><!-- end row -->
    </div><!-- end container-fluid -->
</div><!-- end dashboard-main-content -->



@section Css
{
<link rel="stylesheet" href="~/css/toastr.min.css">
}
@section Scripts
{
<script src="https://cdn.ckeditor.com/4.13.0/standard-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Description', {
        language: 'fa',
        contentsLangDirection: 'rtl',
        height: 270,
    });
</script>
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/Theme/js/jquery.multi-file.min.js"></script>
<script src="~/js/toastr.min.js"></script>
<script src="~/js/custom-alert.js" asp-append-version="true"></script>
<script src="~/js/sweetalert2.all.min.js"></script>
}
